In [1]:
#Project
import mysql.connector
import pandas as pd
import numpy as np
# import chart_studio.plotly as py
# import cufflinks as cf
from ipywidgets import interact

# cf.go_offline()
conn = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database='burmese_python_project')


df = pd.read_sql_query(
'''select *
from pythons''', conn)

df.head(5)

,objectid,Reporter,ComName,SciName,OccStatus,ObsDate,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
0,8303498,Travis Mangione FWC,Burmese python,Python molurus ssp. bivittatus,Positive,24 Nov 2019,,26 Nov 2019,,"Miami-Dade, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,05 Dec 2019,,,0,,,
1,8303147,Edward F. Metzger III,Burmese python,Python molurus ssp. bivittatus,Positive,20 Nov 2019,,22 Nov 2019,22 Nov 2019,"Broward, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,05 Dec 2019,,,,,,
2,8298008,Michael Reupert NPS Big Cypress National Pres...,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,12 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,14 Nov 2019,,,0,HQ freezer ...,,
3,8295649,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,06 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,
4,8295647,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,05 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,

In [2]:
df.columns

Index(['objectid', 'Reporter', 'ComName', 'SciName', 'OccStatus', 'ObsDate',
       'DateAcc', 'DateEnt', 'DateUp', 'Location', 'Latitude', 'Longitude',
       'Datum', 'CoordAcc', 'Method', 'DataType', 'LocalOwner', 'Habitat',
       'Locality', 'Site', 'InfestAcre', 'GrossAcre', 'Abundance', 'Density',
       'NumCollect', 'Percentcov', 'TreatArea', 'TreatComm', 'Quantity',
       'QuantityU', 'TrapType', 'NumTraps', 'Comments', 'VisitType',
       'CollectTme', 'Surveyor', 'RecSource', 'RecOwner', 'RecSrcTyp',
       'OrigName', 'Nativity', 'Host', 'Host_Name', 'VerifyMthd', 'IDCred',
       'Verified', 'Reviewer', 'ReviewDate', 'OrgSrcID', 'PID', 'Voucher',
       'Museum', 'MuseumRec', 'Reference'],
      dtype='object')

##### Client Question: How many python observations do you predict will be recorded for the full 2019 year?

In [3]:
df['ObsDate'].head() # need to convert to a date-time index

0    24 Nov 2019
1    20 Nov 2019
2    07 Nov 2019
3    06 Nov 2019
4    05 Nov 2019
Name: ObsDate, dtype: object

In [4]:
df.index = pd.to_datetime(df['ObsDate']).dt.year

# df.drop(columns = ['ObsDate'], inplace = True)

df.head()

,objectid,Reporter,ComName,SciName,OccStatus,ObsDate,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
2019,8303498,Travis Mangione FWC,Burmese python,Python molurus ssp. bivittatus,Positive,24 Nov 2019,,26 Nov 2019,,"Miami-Dade, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,05 Dec 2019,,,0,,,
2019,8303147,Edward F. Metzger III,Burmese python,Python molurus ssp. bivittatus,Positive,20 Nov 2019,,22 Nov 2019,22 Nov 2019,"Broward, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,05 Dec 2019,,,,,,
2019,8298008,Michael Reupert NPS Big Cypress National Pres...,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,12 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,14 Nov 2019,,,0,HQ freezer ...,,
2019,8295649,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,06 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,
2019,8295647,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,05 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,

#### Plan of attack
set the obsdate as the index, as a datetime, drop everything but "objectid", (group on date here?), and then fill in the missing dates with 0. from there, pass it to the model

In [6]:
df.index = pd.to_datetime(df['ObsDate'])

time_df = df

# time_df['sightings'] = df['objectid'].value_counts() # gives warning

time_df.sort_index(inplace = True)

time_df

,objectid,Reporter,ComName,SciName,OccStatus,ObsDate,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
1979-10-24,3067952,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,24 Oct 1979,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1995-12-12,615739,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,12 Dec 1995,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History ...,"UF 146714, 147499 ...",Florida Museum of Natural History. Herpetolog...
1996-02-12,3067680,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,12 Feb 1996,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1996-11-18,3067679,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,18 Nov 1996,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1997-11-03,615765,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,03 Nov 1997,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History Herpetology ...,UF 147495 ...,Florida Museum of Natural History. Herpetology...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-06,8295649,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,06 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,
2019-11-07,8295635,Jeffrey Fobb Miami-Dade Fire Rescue,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,07 Nov 2019,07 Nov 2019,"Miami-Dade, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,08 Nov 2019,,,,,,
2019-11-07,8298008,Michael Reupert NPS Big Cypress National Pres...,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,12 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,14 Nov 2019,,,0,HQ freezer ...,,
2019-11-20,8303147,Edward F. Metzger III,Burmese python,Python molurus ssp. bivittatus,Positive,20 Nov 2019,,22 Nov 2019,22 Nov 2019,"Broward, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,05 Dec 2019,,,,,,
2019-11-24,8303498,Travis Mangione FWC,Burmese python,Python molurus ssp. bivittatus,Positive,24 Nov 2019,,26 Nov 2019,,"Miami-Dade, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,05 Dec 2019,,,0,,,

so now I need to extract 2019 from this time_df, so that it can be my target

In [7]:
target = time_df.loc['2019']

target

,objectid,Reporter,ComName,SciName,OccStatus,ObsDate,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
2019-01-02,8249408,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,02 Jan 2019,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2019-01-02,8250994,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,02 Jan 2019,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2019-01-04,8250999,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,04 Jan 2019,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2019-01-04,8250985,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,04 Jan 2019,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2019-01-05,8251407,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,05 Jan 2019,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-06,8295649,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,06 Nov 2019,,07 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,
2019-11-07,8295635,Jeffrey Fobb Miami-Dade Fire Rescue,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,07 Nov 2019,07 Nov 2019,"Miami-Dade, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,08 Nov 2019,,,,,,
2019-11-07,8298008,Michael Reupert NPS Big Cypress National Pres...,Burmese python,Python molurus ssp. bivittatus,Positive,07 Nov 2019,,12 Nov 2019,,"Collier, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,14 Nov 2019,,,0,HQ freezer ...,,
2019-11-20,8303147,Edward F. Metzger III,Burmese python,Python molurus ssp. bivittatus,Positive,20 Nov 2019,,22 Nov 2019,22 Nov 2019,"Broward, Florida, United States",...,Verified,Verified,FWCC Exotic Species Database,05 Dec 2019,,,,,,
2019-11-24,8303498,Travis Mangione FWC,Burmese python,Python molurus ssp. bivittatus,Positive,24 Nov 2019,,26 Nov 2019,,"Miami-Dade, Florida, United States",...,Credible,Verified,FWCC Exotic Species Database,05 Dec 2019,,,0,,,

In [8]:
# now collect everything before 2019 as my training data
begin = pd.Timestamp('1979-10-24')
end = pd.Timestamp('2018-12-31') # should adjust to july 31 2019 to account for the data gathered this year?

training = time_df.truncate(before=begin, after=end)

# training = time_df.loc[:'2019']
# training # why does this still show 2019??

training

,objectid,Reporter,ComName,SciName,OccStatus,ObsDate,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
1979-10-24,3067952,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,24 Oct 1979,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1995-12-12,615739,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,12 Dec 1995,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History ...,"UF 146714, 147499 ...",Florida Museum of Natural History. Herpetolog...
1996-02-12,3067680,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,12 Feb 1996,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1996-11-18,3067679,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,18 Nov 1996,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1997-11-03,615765,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,03 Nov 1997,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History Herpetology ...,UF 147495 ...,Florida Museum of Natural History. Herpetology...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30,8250925,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,30 Dec 2018,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2018-12-30,8241927,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,30 Dec 2018,,03 Aug 2019,,"Broward, Florida, United States",...,Verified,Verified,,,,,,,,
2018-12-31,8251395,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,31 Dec 2018,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2018-12-31,8251351,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,31 Dec 2018,,03 Aug 2019,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,,,
2018-12-31,7854740,Bob gore,Burmese python,Python molurus ssp. bivittatus,Positive,31 Dec 2018,,31 Dec 2018,31 Dec 2018,"Miami-Dade, Florida, United States",...,Possible,Verified,FWCC Exotic Species Database,10 Jan 2019,,,,,,

In [9]:
training.drop(columns = 'ObsDate', axis = 1, inplace = True)

training

,objectid,Reporter,ComName,SciName,OccStatus,DateAcc,DateEnt,DateUp,Location,Latitude,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
1979-10-24,3067952,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",25.75931,...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1995-12-12,615739,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",25.22278,...,Verified,Verified,,,,,,Florida Museum of Natural History ...,"UF 146714, 147499 ...",Florida Museum of Natural History. Herpetolog...
1996-02-12,3067680,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",25.26356,...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1996-11-18,3067679,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",25.64142,...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1997-11-03,615765,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",25.38235,...,Verified,Verified,,,,,,Florida Museum of Natural History Herpetology ...,UF 147495 ...,Florida Museum of Natural History. Herpetology...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30,8250925,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.69986,...,Verified,Verified,,,,,,,,
2018-12-30,8241927,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,03 Aug 2019,,"Broward, Florida, United States",26.33000,...,Verified,Verified,,,,,,,,
2018-12-31,8251395,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.84732,...,Verified,Verified,,,,,,,,
2018-12-31,8251351,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.81880,...,Verified,Verified,,,,,,,,
2018-12-31,7854740,Bob gore,Burmese python,Python molurus ssp. bivittatus,Positive,,31 Dec 2018,31 Dec 2018,"Miami-Dade, Florida, United States",25.75688,...,Possible,Verified,FWCC Exotic Species Database,10 Jan 2019,,,,,,

In [10]:
training.reset_index(inplace = True)

training.head()

,ObsDate,objectid,Reporter,ComName,SciName,OccStatus,DateAcc,DateEnt,DateUp,Location,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
0,1979-10-24,3067952,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
1,1995-12-12,615739,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History ...,"UF 146714, 147499 ...",Florida Museum of Natural History. Herpetolog...
2,1996-02-12,3067680,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
3,1996-11-18,3067679,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,17 Oct 2013,,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,...,,U. S. Geological Survey. 2012. USGS Everglades...
4,1997-11-03,615765,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Positive,,03 May 2009,03 May 2009,"Miami-Dade, Florida, United States",...,Verified,Verified,,,,,,Florida Museum of Natural History Herpetology ...,UF 147495 ...,Florida Museum of Natural History. Herpetology...

In [11]:
training['ObsDate'].dtype

dtype('<M8[ns]')

In [12]:
# now, group by the dates so that the sightings are counted by Date

# training.pivot_table(index = 'ObsDate', values = 'objectid', aggfunc = 'count') # why isn't this working?
training_pivot = pd.pivot_table(training, index = 'ObsDate', values = 'objectid', aggfunc = 'count' )
training_pivot

            objectid
ObsDate
1979-10-24         1
1995-12-12         1
1996-02-12         1
1996-11-18         1
1997-11-03         2
...              ...
2018-12-27         4
2018-12-28         3
2018-12-29         3
2018-12-30         2
2018-12-31         3

[2249 rows x 1 columns]

In [13]:
training_pivot.index = pd.to_datetime(training_pivot.index) # doesn't work because the dtype of the index is '<M8[ns]', not "Datetime"

In [14]:
# training_pivot = training_pivot.resample('D')
training_pivot2 = training_pivot.resample('D').count().fillna(0)

In [15]:
training_pivot2

            objectid
ObsDate
1979-10-24         1
1979-10-25         0
1979-10-26         0
1979-10-27         0
1979-10-28         0
...              ...
2018-12-27         1
2018-12-28         1
2018-12-29         1
2018-12-30         1
2018-12-31         1

[14314 rows x 1 columns]

In [16]:
target.drop(columns = 'ObsDate', axis = 1, inplace = True)

/Users/sampoad/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
target

,objectid,Reporter,ComName,SciName,OccStatus,DateAcc,DateEnt,DateUp,Location,Latitude,...,IDCred,Verified,Reviewer,ReviewDate,OrgSrcID,PID,Voucher,Museum,MuseumRec,Reference
ObsDate,,,,,,,,,,,,,,,,,,,,,
2019-01-02,8249408,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.33997,...,Verified,Verified,,,,,,,,
2019-01-02,8250994,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.73368,...,Verified,Verified,,,,,,,,
2019-01-04,8250999,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.73535,...,Verified,Verified,,,,,,,,
2019-01-04,8250985,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.73313,...,Verified,Verified,,,,,,,,
2019-01-05,8251407,FWCC Exotic Species Database Florida Fish and ...,Burmese python,Python molurus ssp. bivittatus,Treated,,03 Aug 2019,,"Miami-Dade, Florida, United States",25.86322,...,Verified,Verified,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-06,8295649,"matthew mccollister National Park Service, Big...",Burmese python,Python molurus ssp. bivittatus,Positive,,07 Nov 2019,,"Collier, Florida, United States",25.83131,...,Credible,Verified,FWCC Exotic Species Database,08 Nov 2019,,,0,,,
2019-11-07,8295635,Jeffrey Fobb Miami-Dade Fire Rescue,Burmese python,Python molurus ssp. bivittatus,Positive,,07 Nov 2019,07 Nov 2019,"Miami-Dade, Florida, United States",25.82564,...,Verified,Verified,FWCC Exotic Species Database,08 Nov 2019,,,,,,
2019-11-07,8298008,Michael Reupert NPS Big Cypress National Pres...,Burmese python,Python molurus ssp. bivittatus,Positive,,12 Nov 2019,,"Collier, Florida, United States",25.86434,...,Credible,Verified,FWCC Exotic Species Database,14 Nov 2019,,,0,HQ freezer ...,,
2019-11-20,8303147,Edward F. Metzger III,Burmese python,Python molurus ssp. bivittatus,Positive,,22 Nov 2019,22 Nov 2019,"Broward, Florida, United States",26.29298,...,Verified,Verified,FWCC Exotic Species Database,05 Dec 2019,,,,,,
2019-11-24,8303498,Travis Mangione FWC,Burmese python,Python molurus ssp. bivittatus,Positive,,26 Nov 2019,,"Miami-Dade, Florida, United States",25.76191,...,Credible,Verified,FWCC Exotic Species Database,05 Dec 2019,,,0,,,

In [18]:
target.reset_index(inplace = True)
target_pivot = pd.pivot_table(target, index = 'ObsDate', values = 'objectid', aggfunc = 'count' )
# target.index = pd.to_datetime(target_pivot.index)
target_pivot2 = target_pivot.resample('D').count().fillna(0)
target_pivot2

            objectid
ObsDate
2019-01-02         1
2019-01-03         0
2019-01-04         1
2019-01-05         1
2019-01-06         0
...              ...
2019-11-20         1
2019-11-21         0
2019-11-22         0
2019-11-23         0
2019-11-24         1

[327 rows x 1 columns]

In [ ]:
# training / test data is ready

In [21]:
from statsmodels.tsa.arima_model import ARMA

model = ARMA(
    training_pivot2,
    freq = 'D', # daily frequency
    order = (2, 1),
).fit()

In [22]:
predictions = model.predict(
    start = len(training_pivot2), # in terms of index, where do we want to start and end? start at the END of your training data
    end = len(training_pivot2) + len(target_pivot2) - 1, # and end at the END of our testing data
)

In [27]:
# how to get the sum of the 2019 year? 
round(predictions.sum())

204.0

In [ ]:
# from this Time-Series, work on Probability of finding snakes in the geographic hotspots between now and Dec 31